html, body {
  margin: 0;
  padding: 0;
  height: 100%;  
  display: flex;
  justify-content: center;  
  align-items: center;  
  flex-direction: column;  
  text-align: center;  
  background-color: (207,226,243);
}

.text_box {
  margin-top: -100px;
}

canvas {
  display: block;
  max-width: 90vw;
}